.timeZone {
  .timeZone-title {
    margin-bottom: 30px;
    font-size: 72px;
    font-weight: 800;
    border-top: 10px solid $black;
    border-bottom: 10px solid $black;
  }
  .timeZone-body {
    border: 2px solid $black;
    li {
      padding: 3px 40px;
      border-bottom: 2px solid $black;
      color: $black;
      background-color: $white;
      &:first-child,
      &:last-child {
        color: $white;
        background-color: $black;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .timeZone-city {
      font-size: 36px;
      letter-spacing: 2px;
    }
    .timeZone-time {
      font-size: 72px;
      line-height: 98px;
    }
  }
}